/* .login-page {
  display: ruby-text-container;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.login-form {
  width: 350px;
  background :url("https://images.adsttc.com/media/images/621c/f39e/55af/1001/6547/20b9/large_jpg/3.jpg?1646064558");
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(244, 240, 240, 0.993);
}

.login-form h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.login-form label {
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form h3 {
  margin-top: 16px;
  text-align: center;
}

.login-form h3 a {
  color: #007bff;
  text-decoration: none;
}

.login-form h3 a:hover {
  text-decoration: underline;
} */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.login-form {
  width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-image: url("https://images.adsttc.com/media/images/621c/f39e/55af/1001/6547/20b9/large_jpg/3.jpg?1646064558");
  background-size: cover;
  background-position: center;
}

.login-form h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.login-form label {
  font-weight: bold;
  color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #333;
}

.login-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.login-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form h3 {
  margin-top: 16px;
  text-align: center;
  color: #333;
}

.login-form h3 a {
  color: #007bff;
  text-decoration: none;
}

.login-form h3 a:hover {
  text-decoration: underline;
}
